In [78]:
from cassandra.cluster import Cluster
import pandas as pd
clstr = Cluster()
session = clstr.connect()

Drop table in case we are replaying this code

In [81]:
session.execute("DROP KEYSPACE IF EXISTS m14")

Print current keyspaces

In [82]:
response = session.execute("desc keyspaces")
for i in response:
    print(i[0])

system
system_auth
system_distributed
system_schema
system_traces
system_views
system_virtual_schema
w04python

5. Create Keyspace called m14

In [83]:
session.execute("CREATE KEYSPACE IF NOT EXISTS M14 WITH REPLICATION = {'class':'SimpleStrategy','replication_factor':3}")

6. Create Table in keyspace for inventory information

In [84]:
session.execute("""
CREATE TABLE IF NOT EXISTS m14.inventory (
SKU TEXT,
NAME TEXT,
DESCRIPTION TEXT,
WAREHOUSE_NUM INT,
PRIMARY KEY (SKU,WAREHOUSE_NUM)
)
""")

Create an inventory example data set. A list of values to include in insert statements for each product.

In [85]:
inventory = [
            "('87873', 'STEAK', 'Good source of protein', 50)",
            "('54546', 'BANANAS', 'Yellow and yummy', 40)",
            "('34324', 'MILK', 'Dairy Drink', 50)",
            "('123236', 'EGGS', 'Comes from Chickens', 30)",
            "('9879876', 'BREAD', 'Used for Sandwhiches', 10)"
]
for i in range(len(inventory)):
    print(inventory[i])

('87873', 'STEAK', 'Good source of protein', 50)
('54546', 'BANANAS', 'Yellow and yummy', 40)
('34324', 'MILK', 'Dairy Drink', 50)
('123236', 'EGGS', 'Comes from Chickens', 30)
('9879876', 'BREAD', 'Used for Sandwhiches', 10)

7. Populate several rows of data into your table. 
--This will insert the rows into the table and print copy of code used

In [86]:
for x in range(len(inventory)):
    print("""
INSERT INTO m14.inventory (sku, name, description, warehouse_num)
VALUES """+inventory[x]+";")
    
    session.execute("""
INSERT INTO m14.inventory (sku, name, description, warehouse_num)
VALUES """+inventory[x]+";")

INSERT INTO m14.inventory (sku, name, description, warehouse_num)
VALUES ('87873', 'STEAK', 'Good source of protein', 50);

INSERT INTO m14.inventory (sku, name, description, warehouse_num)
VALUES ('54546', 'BANANAS', 'Yellow and yummy', 40);

INSERT INTO m14.inventory (sku, name, description, warehouse_num)
VALUES ('34324', 'MILK', 'Dairy Drink', 50);

INSERT INTO m14.inventory (sku, name, description, warehouse_num)
VALUES ('123236', 'EGGS', 'Comes from Chickens', 30);

INSERT INTO m14.inventory (sku, name, description, warehouse_num)
VALUES ('9879876', 'BREAD', 'Used for Sandwhiches', 10);

Ensure data is in the table

In [87]:
rows = session.execute("select * from m14.inventory;")
for i in rows:
    print(i)

Row(sku='54546', warehouse_num=40, description='Yellow and yummy', name='BANANAS')
Row(sku='34324', warehouse_num=50, description='Dairy Drink', name='MILK')
Row(sku='9879876', warehouse_num=10, description='Used for Sandwhiches', name='BREAD')
Row(sku='123236', warehouse_num=30, description='Comes from Chickens', name='EGGS')
Row(sku='87873', warehouse_num=50, description='Good source of protein', name='STEAK')

8. Create index on warehouse_num

In [88]:
session.execute("""
CREATE INDEX IF NOT EXISTS warehouse_index
ON m14.inventory(warehouse_num);
""")

9. Search for all products in a given location/warehouse

In [89]:
rows = session.execute("SELECT * FROM m14.inventory WHERE warehouse_num = 50;")
for i in rows:
    print(i)

Row(sku='34324', warehouse_num=50, description='Dairy Drink', name='MILK')
Row(sku='87873', warehouse_num=50, description='Good source of protein', name='STEAK')